<ion-header>
  <ion-toolbar>
    <ion-title>
      Modelos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
        <ion-thumbnail slot="start">
            <ion-img src="https://c4d709dd302a2586107d-f8305d22c3db1fdd6f8607b49e47a10c.ssl.cf1.rackcdn.com/thumbnails/stock-images/e26e3a28b1ff3038a3d2cd3eb90bdaf9.png"></ion-img>
         </ion-thumbnail>
      <ion-label>  
      <h1> Subaru Impreza</h1>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
      <ion-img src="https://c4d709dd302a2586107d-f8305d22c3db1fdd6f8607b49e47a10c.ssl.cf1.rackcdn.com/thumbnails/stock-images/4ed0a69ed3e1d3b8a09e65f51c77fe6a.png"></ion-img>
    </ion-thumbnail>
      <ion-label>
      <h1> Subaru Legacy</h1>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
      <ion-img src="https://www.cstatic-images.com/car-pictures/xl/usc90sus041a021001.png"></ion-img>
    </ion-thumbnail>
      <ion-label>
      <h1> Subaru Forester</h1>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
      <ion-img src="https://images.dealer.com/ddc/vehicles/2019/Subaru/BRZ/Coupe/trim_Premium_3ebbe6/color/Crystal%20White%20Pearl-WHC-199%2C199%2C195-640-en_US.jpg?impolicy=resize&w=1024"></ion-img>
    </ion-thumbnail>
      <ion-label>
      <h1> Subaru BRZ</h1>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
      <ion-img src="https://c4d709dd302a2586107d-f8305d22c3db1fdd6f8607b49e47a10c.ssl.cf1.rackcdn.com/thumbnails/stock-images/5fdf75bde6d7baaf308f941f74ec2f98.png"></ion-img>
    </ion-thumbnail>
      <ion-label>
      <h1> Subaru Outback</h1>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
      <ion-img src="https://c4d709dd302a2586107d-f8305d22c3db1fdd6f8607b49e47a10c.ssl.cf1.rackcdn.com/thumbnails/stock-images/8ec5b7dc6174d1171171e739e8594e0c.png"></ion-img>
    </ion-thumbnail>
      <ion-label>
      <h1> Subaru Crosstrek</h1>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
      <ion-img src="https://cdn.motor1.com/images/mgl/g7OE4/s1/2019-subaru-ascent.jpg"></ion-img>
    </ion-thumbnail>
      <ion-label>
      <h1> Subaru Ascent</h1>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
      <ion-img src="https://3.bp.blogspot.com/-ePE13Szhlvw/WhoBeuxhAyI/AAAAAAAAexA/Yms1mfhvsWYS3SIosEQ16-IQ20QWKz3fwCLcBGAs/s1600/subarusvx.fte3.jpg"></ion-img>
    </ion-thumbnail>
      <ion-label>
      <h1> Subaru SVX</h1>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
      <ion-img src="https://cdn.motor1.com/images/mgl/Q9VMZ/s1/subaru-impreza-22b-sti.jpg"></ion-img>
    </ion-thumbnail>
      <ion-label>
      <h1> Subaru 22B</h1>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
      <ion-img src="https://i.kinja-img.com/gawker-media/image/upload/s--Dg-uXrpC--/c_scale,f_auto,fl_progressive,q_80,w_800/drj0kfv0okkduhk60hjn.jpg"></ion-img>
    </ion-thumbnail>
      <ion-label>
      <h1> Subaru Legacy RS</h1>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
      <ion-img src="https://i.wheelsage.org/pictures/s/subaru/brat/subaru_brat_57.jpeg"></ion-img>
    </ion-thumbnail>
      <ion-label>
      <h1> Subaru Brat</h1>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
      <ion-img src="https://360view.hum3d.com/zoom/Subaru/Subaru_360_1958_1000_0001.jpg"></ion-img>
    </ion-thumbnail>
      <ion-label>
      <h1> Subaru 360</h1>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>