<ion-header>
  <ion-toolbar>
    <ion-title>
      Modelos de Subaru
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
        <ion-thumbnail slot="start">
            <ion-img src="https://c4d709dd302a2586107d-f8305d22c3db1fdd6f8607b49e47a10c.ssl.cf1.rackcdn.com/thumbnails/stock-images/e26e3a28b1ff3038a3d2cd3eb90bdaf9.png"></ion-img>
         </ion-thumbnail>
      <ion-label>  
      <h1> Subaru Impreza</h1>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="end">
      <ion-img src="https://c4d709dd302a2586107d-f8305d22c3db1fdd6f8607b49e47a10c.ssl.cf1.rackcdn.com/thumbnails/stock-images/4ed0a69ed3e1d3b8a09e65f51c77fe6a.png"></ion-img>
    </ion-thumbnail>
      <ion-label>
      <h1> Subaru Legacy</h1>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>