<ion-header>
  <ion-toolbar>
    <ion-title>
      Início
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/Imagens/SubaruSTI1.jpg" alt="" />
      <ion-card-header>
        
        <ion-card-subtitle></ion-card-subtitle>
        
        <ion-card-title>Bem-vindo(a) ao App Subaru!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>A tradição, a performance e a durabilidade de um Subaru que você já conheceu ou ouviu falar. Conheça mais sobre a história desta marca com mais de 60 anos de tradição em alta tecnologia mecânica.</p>
      </ion-card-content>
    </ion-card>


    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Resources</ion-label>
      </ion-list-header>
      <ion-item href="https://s3.amazonaws.com/subaruprod/data/vReuu.1418339710-assistencia-subaru.pdf">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Assistência 24H</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/building/scaffolding">
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>Scaffold Out Your App</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/layout/structure">
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>Change Your App Layout</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/theming/basics">
        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
        <ion-label>Theme Your App</ion-label>
      </ion-item>
    </ion-list>

</ion-content>
